{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2>Register your Service Area</h2>
        <hr>
    </div>
    <div class="col-md-9">
        <div id="map"  style="width: 800px; height: 500px"></div>
    </div>
    <div class="col-md-3">
        <h5>Delete Service Area</h5>
        <input type="button" class="btn btn-danger" id="delete-polygon" value="Delete Area" onClick="editor.clear();">
        <hr>
        <form method="post">
            {% csrf_token %}
            <input id="company-input" value="" placeholder="Company's Name" name="name" required>
            <input id="coordinate-input" value="" name="coordinates">
            <input class="btn btn-success" value="Save Area" type="submit">
        </form>
        <hr>
        <h5>Current Service Area coordinates</h5>
        <div id="coordinate-list"></div>
    </div>
</div>
    <script src="{% static 'js/mapeditor.js' %}"></script>
    <script type="text/javascript">
        var editor;
        var $display = document.getElementById("coordinate-list");
        var $input = document.getElementById("coordinate-input");

        function initMap() {
            // Init editor
            editor = new MapEditor(document.querySelector("#map"));

            // Called when something changes
            editor.onChange = function() {
                var points = editor.getPoints();
                updateForm(points);
                updateDisplay(points);
            };

            // Autolocate
            editor.autolocate();
        }

        function updateForm(points) {
            $input.value = JSON.stringify(points);
        }

        function updateDisplay(points) {
            $display.innerHTML = genDisplayHtml(points);
        }

        function genDisplayHtml(points) {
            return [
                "<ul>",
                // Generate each point
                points.map(function(point) {
                    return "<li>" + point.lat + "," + point.lng + "</li>";
                }).join('\n'),
                "</ul>",
            ].join('\n');
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLDSHqB5ImCeg9Hoz-neaR5USH7pjn9fY&signed_in=true&libraries=drawing&callback=initMap"
        >
    </script>

{% endblock %}